:root {
   --primary: #d60400;
   --light: #F3F6F9;
   --dark: #191C24;
}

.back-to-top {
   position: fixed;
   display: none;
   right: 45px;
   bottom: 45px;
   z-index: 99;
}



.bg-danger {
   border-radius: 25px 20px;
   padding: 6px;
   padding-right: 9px;

}



.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 250px;
   height: 100vh;
   overflow-y: auto;
   background: var(--light);
   transition: 0.5s;
   z-index: 999;
}

.content {
   margin-left: 250px;
   min-height: 100vh;
   background: #FFFFFF;
   transition: 0.5s;
}

@media (min-width: 992px) {
   .sidebar {
      margin-left: 0;
   }

   .sidebar.open {
      margin-left: -250px;
   }

   .content {
      width: calc(100% - 250px);
   }

   .content.open {
      width: 100%;
      margin-left: 0;
   }
}

@media (max-width: 991.98px) {
   .sidebar {
      margin-left: -250px;
   }

   .sidebar.open {
      margin-left: 0;
   }

   .content {
      width: 100%;
      margin-left: 0;
   }
}


.sidebar .navbar .navbar-nav .nav-link {
   padding: 7px 20px;
   color: var(--dark);
   font-weight: 500;
   border-left: 3px solid var(--light);
   border-radius: 0 30px 30px 0;
   outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
   color: var(--primary);
   background: #FFFFFF;
   border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
   width: 40px;
   height: 40px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
   border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
   background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
   position: absolute;
   top: 15px;
   right: 15px;
   border: none;
   content: "\f107";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
   transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
   padding-left: 25px;
   border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
   margin-left: 25px;
   padding: 12px 0;
   color: var(--dark);
   outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
   color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
   width: 40px;
   height: 40px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
   border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
   margin-left: 6px;
   vertical-align: middle;
   border: none;
   content: "\f107";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   transition: .5s;

}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
   transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
   .content .navbar .navbar-nav .nav-link {
      margin-left: 15px;
   }
}

.text-purple {
   color: #51289e;
}

.bg-purple {
   background-color: #6f42c1;
}


/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
   height: 60px;
   width: 300px;
   display: block;
   background: none;
   border-radius: 0;
}

.skills .progress .skill {
   padding: 10px 0;
   margin: 0 0 6px 0;
   text-transform: uppercase;
   display: block;
   font-weight: 600;
   font-family: "Poppins", sans-serif;
   color: #fe0000;
}

.skills .progress .skill .val {
   float: right;
   font-style: normal;
}

.skills .progress-bar-wrap {
   background: #ffffff;
}

.skills .progress-bar {
   width: 1px;
   height: 10px;
   transition: 0.9s;
   background-color: #df0000;
}

.section-title {
   text-align: center;
   padding-bottom: 30px;
}

.section-title h2 {
   font-size: 32px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 20px;
   padding-bottom: 20px;
   position: relative;
}

.section-title h2::after {
   content: "";
   position: absolute;
   display: block;
   width: 50px;
   height: 3px;
   background: #c60505;
   bottom: 0;
   left: calc(50% - 25px);
}


.resume .resume-title {
   font-size: 26px;
   font-weight: 400;
   margin-top: 20px;
   margin-bottom: 20px;
   color: #222222;
}

.resume .resume-item {
   padding: 0 0 20px 20px;
   margin-top: -2px;
   border-left: 2px solid var(--primary);
   position: relative;
}

.resume .resume-item h4 {
   line-height: 18px;
   font-size: 18px;
   font-weight: 600;
   font-family: "Poppins", sans-serif;
   color: #b32e2e;
   margin-bottom: 10px;
}

.resume .resume-item h5 {
   font-size: 16px;
   background: #effbf9;
   padding: 5px 15px;
   display: inline-block;
   font-weight: 600;
   margin-bottom: 10px;
   color: var(--primary);
}

.resume .resume-item ul {
   padding-left: 20px;
}

.resume .resume-item ul li {
   padding-bottom: 10px;
}

.resume .resume-item:last-child {
   padding-bottom: 0;
}

.resume .resume-item::before {
   content: "";
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50px;
   left: -9px;
   top: 0;
   background: #fff;
   border: 2px solid var(--primary);
}